* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url(../img/background-4.png)
}
/* achtergrond afbeelding van lowlands*/

header {
    padding: 1em 0em;
    background-color: #0827cc;
    box-shadow: inset 0em 0em 2em #000000;
}
/* blauwe balk bovenin achter de nav*/

header a {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}
header a:hover{
    color: #4cd066;
}
/* logo bovenin de website*/

header a:focus{
    color: #4cd066;
}

nav ul li, a, label, i {
    font-size: 0.9em;
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    padding: 0em 0.625em;
}
/* alle navkopjes en linkjes correcte fontsize, font en kleur.*/

label,i {
    display: inline-flex;
}
/* display voor form labels en iconen*/

nav ul {
    white-space: nowrap;
    overflow-x: auto;
    height:3.125em ;
    text-align: center;
}
/* height zodat het niet onder elkaar valt en carrousel effect*/

/*https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp*/

nav ul li {
    display: inline-block;
    float: none;
}
/* height zodat het niet onder elkaar valt en carrousel effect*/


nav li a:hover {
    color: #4cd066;
}
/* bij hover kleurverandering*/

main section:first-child h1, main section:first-child h2, main section:first-child h3 {
    color: white;
    background-color: #4cd066;
    text-align: center;
    font-size: 1.5em;
    padding: 0.625em;
}
main section:first-child h2{
    font-size: 1.1em;
}

main section:first-child h3{
    font-size: 1em;
}
/* section op ticketform met verschillende font groottes*/

main section:first-child button {
    background-color: white;
    color: #0827cc;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    padding: 1.250em 2.500em;
    border: solid 0.313em #4cd066;
}
/* button op homepagina*/

main section:first-child {
    width: 18.750em;
    margin: 0em auto;
    margin-top: 3em;

}
/* breedte section bovenaan homepagina*/

main section:first-child button:hover {
    background-color: #0827cc;
    color: white;
    transform: rotate(180deg);
}
/* buttonkop andere kleur op hover en draait*/

main section:nth-child(2), main section:nth-child(3) {
    white-space: nowrap;
    overflow-x: auto;
    float: none;
    margin-top: 1.875em;
    margin-bottom: 1.250em;
}
/* Carrousel effect voor artiesten section*/

footer {
    padding: 0.625em 0em;
    background-color: #0827cc;
    box-shadow: inset 0em 0em 1.250em #000000;
    width: 100%;
    height: 20em;
    text-align: center;
}
/* footer*/

footer section:first-child, footer section:last-child {
    margin: 0em 1.250em;
}
/* 2 sections in footer*/

footer section:first-child h3, footer section:last-child h3{
    margin-top: 1.250em;
    color: white;
    margin-bottom: 1.5em;   
}
/* text in sections*/

main article{
    display: block;
    margin: 0em auto;
    width: 75%;
    background-color: #4CD066;
    margin-bottom: 2em;
    padding-bottom: 2em;
    box-shadow: inset 0em 0em 2em #000000;
}
/* section voor artiest pagina*/

main article img{
    display: block;
    height: 40%;
    width: 50%;
    margin: 0em auto;
}
/* foto op artiest paginaa*/

main article p{
    font-family: sans-serif;
    width: 50%;
    margin: 0em auto;
    margin-top: 1em;
    color: black;
    text-align: left;
}
/* tekst op artiest pagina*/

main article h1, main article time{
    display: block;
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
}
/* koppen op artiest pagina*/

form{
    display: flex;
    margin-bottom: 3em;
}
/*https://www.w3schools.com/howto/howto_css_responsive_form.asp*/

form input{
  margin: 0.313em 0.625em 0.313em 0em;
  padding: 0.625em;
  background-color: #fff;
  border: 0.063em solid #ddd;
}
/* inputvelden voor de form*/

fieldset{
    width: 50%;
    display: block;
    margin: 0em auto;
    background-color: #4cd066;
}
/* breedte vd form*/

legend{
    color: white;
    background-color: #4cd066; 
}
/* achtergrond form*/

label{
    margin-top: 2em;
}
/* ruimte tussen labels en input*/

section > article > a {
    color:black;
    font-size: 1em;
}
/* kleur en grootte kopjes vd articles op de homepagina*/

main p{
    color: white;
    background-color: #4cd066;;
    width: 50%; 
    margin: 0 auto;
    margin-top: 3em;
    text-align: center;
    margin-bottom: 3em;
    padding: 0.625em;
}
/* section op ticketpagina met tekst*/

main section:nth-child(n+2) article:hover{
    background-color: blue;
}
/* hover op article geeft kleurverandering*/

main section:nth-child(n+2) button, form input[type=submit] {
    background-color: blue;
    color: white;
    padding:  0.625em;
    border: none;
    outline: none;
    border-radius: 1.563em;
}
/*alle buttons op de site*/

footer section:last-child form input[type=submit]{
    background-color: #4cd066;
}
/*andere kleur voor footer knop*/

iframe {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    width: 50vw;
    height: 35vw;
}
/*youtube video*/

form fieldset input[type=submit]:hover {
    transform: translate(20em);
}
/*alle buttons op de site*/

form input[type=submit]:hover{
    color: white;
    background-color:blue;
}
/*hover op form button veranderd kleur*/

.rood{
    color: red;
}
/*class voor hartje*/

input:focus, textarea:focus, main section:first-child button:focus, footer section:last-child form input[type=submit]:focus-within {
    color: white;
    background-color: #0827cc;
}
/*form toegankelijk met tab knop*/

footer section:last-child form{
    display: block;
    text-align: center;
}
nav ul li a:focus {
    color:  #4cd066;
}
/*door tab veranderen nav items van kleur*/

main form fieldset input[type=submit]:focus-within, main section:nth-child(n+2) button:focus-within{
       color: black;
    background-color: #4cd099;
}
/*door tab alle buttons andere kleur*/

main section:nth-child(n+2) article:focus-within{
    background-color: #0827cc;
}
/*Door tab article andere kleur*/
/*https://css-tricks.com/focusing-on-focus-styles/*/
    

main section:nth-child(n+2) article {
    width: 18.750em;
    }
/*alle buttons op de site*/

 main section:nth-child(4) article {
    margin-top: 1em;
    }
/*articles newssectie padding van de artiesten af*/

main section:nth-child(n+2) article img {
    width: 15.625em;
    height: 8.750em;
    }
/*afbeeldingen bij articles */

main section:nth-child(n+2) article h2{
        font-size: 1.250em;
        padding-bottom: 0.313em;
    }
/*kopjes bij articles*/
    
main section:nth-child(n+2) article{
    background-color: #4cd066;
    padding: 0.625em;
    display: inline-block;
}
/*articles zelf*/

 main section:nth-child(4){
    padding: 0.625em;
    display: block;
    text-align: center;
}
/*newssectie center*/

 main section:nth-child(4) article q {
        padding-top: 0.625em;
    padding-bottom: 0.625em;
    display: block;
}
/*news quote*/

 main section:nth-child(2) article q,  main section:nth-child(3) article q{
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    display: block;
    font-size: 0.6em;
}
/*artiesten quote*/

main section h1:before {
    content: "-Lowlands-";
}
/*extra tekst voor de tekst*/

:target {
  border: 0.125em solid #4cd066;
  background-color: #0827cc;
}
/*schiet naar formulier*/

main section:first-child button a{
    color: black;
}
/*breedte voor de link*/

main section:first-child button:hover {
    background-color: #0827cc;
    color: white;
    transform: rotate(180deg);
}
/*https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_target*/



nav ul ul {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.8);
      z-index: 2;
      cursor: pointer;
}
/*menu overlay*/

nav ul li:nth-child(8){
    cursor: pointer;
}
/*toont dat het clickable is*/

nav ul li:nth-child(8):hover{
    color: #4cd066;
}
/*toont dat het clickable is door kleurverandering*/

nav ul ul li a{
    font-size: 1.5em;
    text-align: center;
    display: block;
}
/*fontsize overlay */

nav ul ul li {
    margin-top: 10em;
    display: block;
}
/*witruimte */

/*https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp*/

/*alles groter dan 634 pixels */

@media screen and (min-width: 39.625em) {
    
main section:nth-child(n+2) article{
    background-color: #4cd066;
    width: 35em;
    padding: 1.875em;
    margin-left: 0.625em;
    display: inline-block;
}
/*article en news groter */
    
main section:nth-child(n+2) article img{
    width: 31.250em;
    height: 17.500em;
}
/*afbeeldingen groter */

main section:nth-child(2) article q, main section:nth-child(3) article q {
    font-size: 1em;
}
/*quote groter */
    

}
/*alles groter dan 634 pixels */



/*
https://www.youtube.com/watch?v=KIIktcWu6hc